<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="content">
    <h1><f:translate key="tx_kmtimeline_domain_model_timeline.overview" /></h1>

    <f:flashMessages />
    <div class="table-fit">
        <table class="tx_kmtimeline table table-hover table-striped">
            <thead>
                <tr>
                    <th nowrap="nowrap"><f:translate key="tx_kmtimeline_domain_model_timeline.name" /></th>
                    <th nowrap="nowrap"><f:translate key="tx_kmtimeline_domain_model_timeline.description" /></th>
                    <f:comment><!-- <th nowrap="nowrap"><f:translate key="tx_kmtimeline_domain_model_timeline.translated" /></th> --></f:comment>
                    <th nowrap="nowrap" class="col-control"> </th>
                </tr>
            </thead>
            <tbody>
                <f:for each="{pagination.paginator.paginatedItems}" as="timeline" iteration="timelineIterator">
                    <tr>
                        <td nowrap="nowrap">
                            <f:comment><!-- <f:link.action action="show" arguments="{timeline: timeline}">{timeline.name}</f:link.action> --></f:comment>
                            <be:link.editRecord table="tx_kmtimeline_domain_model_timeline" uid="{timeline.uid}">{timeline.name}</be:link.editRecord>
                        </td>
                        <td><f:format.crop maxCharacters="200"><f:format.html>{timeline.description}</f:format.html></f:format.crop></td>
                        <td class="tx_kmtimeline_edit col-control" nowrap="nowrap">
                            <div class="btn-group" role="group">
                                <f:comment><f:link.action class="btn btn-default" action="show" arguments="{timeline: timeline}" title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:edit')}"><core:icon identifier="actions-page-open" /></f:link.action></f:comment>
                                <be:link.editRecord class="btn btn-default" table="tx_kmtimeline_domain_model_timeline" uid="{timeline.uid}" title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:edit')}"><core:icon identifier="actions-document-open" /></be:link.editRecord>
                                <f:if condition="{timeline.hidden}">
                                    <f:then>
                                        <a class="btn btn-default" href="{be:moduleLink(route: 'tce_db', query: 'data[tx_kmtimeline_domain_model_timeline][{timeline.uid}][hidden]=0', currentUrlParameterName: 'redirect')}" title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:cm.unhide')}"><core:icon identifier="actions-edit-unhide" /></a>
                                    </f:then>
                                    <f:else>
                                        <a class="btn btn-default" href="{be:moduleLink(route: 'tce_db', query: 'data[tx_kmtimeline_domain_model_timeline][{timeline.uid}][hidden]=1', currentUrlParameterName: 'redirect')}" title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:cm.hide')}"><core:icon identifier="actions-edit-hide" /></a>
                                    </f:else>
                                </f:if>
                                <a class="btn btn-default" href="{be:moduleLink(route: 'tce_db', query: 'cmd[tx_kmtimeline_domain_model_timeline][{timeline.uid}][delete]=1', currentUrlParameterName: 'redirect')}" title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_mod_web_list.xlf:delete')}"><core:icon identifier="actions-edit-delete" /></a>
                                <f:comment><f:for each="{languages}" as="lang">
                                    <a class="btn btn-default" href="{be:moduleLink(route: 'tce_db', query: 'cmd[tx_kmtimeline_domain_model_timeline][{timeline.uid}][localize]={lang.uid}', currentUrlParameterName: 'redirect')}" title="{lang.title}"><core:icon identifier="{lang.flagIcon}" /></a>
                                </f:for></f:comment>
                            </div>
                        </td>
                    </tr>
                </f:for>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                        <be:link.newRecord table="tx_kmtimeline_domain_model_timeline" pid="{storagePid}" title="{f:translate(key: 'tx_kmtimeline_domain_model_timeline.create')}"><core:icon identifier="actions-document-new" /></be:link.newRecord>
                        <be:link.newRecord table="tx_kmtimeline_domain_model_timeline" pid="{storagePid}"><f:translate key="tx_kmtimeline_domain_model_timeline.create" /></be:link.newRecord>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <f:render partial="Timeline/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />

</f:section>

</html>
