<f:if condition="{paginator.numberOfPages} > 1">
	<nav aria-label="Timeline navigation" class="pagination-wrap">
	    <ul class="pagination">
	        <f:comment>First page and previous page</f:comment>
	        <f:if condition="{pagination.previousPageNumber} && {pagination.previousPageNumber} >= {pagination.firstPageNumber}">
	            <f:then>
	                <li class="page-item">
	                    <f:link.action arguments="{currentPage: pagination.firstPageNumber}" addQueryString="true" class="page-link" aria="{label: '{f:translate(key: \'pagination.first\')}'}" title="{f:translate(key: 'pagination.first')}">
	                        <core:icon identifier="actions-view-paging-first" />
	                    </f:link.action>
	                </li>
	                <li class="page-item">
	                    <f:link.action arguments="{currentPage: pagination.previousPageNumber}" addQueryString="true" class="page-link" aria="{label: '{f:translate(key: \'pagination.previous\')}'}" title="{f:translate(key: 'pagination.previous')}">
	                        <core:icon identifier="actions-view-paging-previous" />
	                    </f:link.action>
	                </li>
	            </f:then>
	            <f:else>
	                <li class="page-item disabled">
	                    <span class="page-link">
	                        <core:icon identifier="empty-empty" />
	                    </span>
	                </li>
	                <li class="page-item disabled">
	                    <span class="page-link">
	                        <core:icon identifier="empty-empty" />
	                    </span>
	                </li>
	            </f:else>
	        </f:if>
	
	        <li class="page-item">
	            <span class="page-link">
	                <f:translate key="pagination.records" /> {pagination.startRecordNumber} - {pagination.endRecordNumber}
	            </span>
	        </li>
	        <li class="page-item">
	            <span class="page-link">
	                <f:translate key="pagination.page" />
	                <form class="d-inline"
	                    data-global-event="submit"
	                    data-action-navigate="$form=~s/$value/"
	                    data-navigate-value="{f:uri.action(arguments:'{currentPage: \'$[value]\'}')}"
	                    data-value-selector="input[name='paginator-target-page']">
	                    <input
	                        min="{pagination.firstPageNumber}"
	                        max="{pagination.lastPageNumber}"
	                        data-number-of-pages="{paginator.numberOfPages}"
	                        name="paginator-target-page"
	                        class="form-control form-control-sm paginator-input"
	                        size="5"
	                        value="{paginator.currentPageNumber}"
	                        type="number"
	                    />
	                </form>
	                / {pagination.lastPageNumber}
	            </span>
	        </li>
	
	        <f:comment>Next page and last page</f:comment>
	        <f:if condition="{pagination.nextPageNumber} && {pagination.nextPageNumber} <= {pagination.lastPageNumber}">
	            <f:then>
	                <li class="page-item">
	                    <f:link.action arguments="{currentPage: pagination.nextPageNumber}" addQueryString="true" class="page-link" aria="{label: '{f:translate(key: \'pagination.next\')}'}" title="{f:translate(key: 'pagination.next')}">
	                        <core:icon identifier="actions-view-paging-next"/>
	                    </f:link.action>
	                </li>
	                <li class="page-item">
	                    <f:link.action arguments="{currentPage: pagination.lastPageNumber}" addQueryString="true" class="page-link" aria="{label: '{f:translate(key: \'pagination.last\')}'}" title="{f:translate(key: 'pagination.last')}">
	                        <core:icon identifier="actions-view-paging-last"/>
	                    </f:link.action>
	                </li>
	            </f:then>
	            <f:else>
	                <li class="page-item disabled">
	                    <span class="page-link">
	                        <core:icon identifier="empty-empty" />
	                    </span>
	                </li>
	                <li class="page-item disabled">
	                    <span class="page-link">
	                        <core:icon identifier="empty-empty" />
	                    </span>
	                </li>
	            </f:else>
	        </f:if>
	    </ul>
	</nav>
</f:if>
