<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
    <f:if condition="{timeline.name}"><h1>{timeline.name}</h1></f:if>
    <f:if condition="{timeline.description}"><f:format.html>{timeline.description}</f:format.html></f:if>
    <div id="timeline-{timeline.uid}" class="timeline"></div>
    <f:asset.script identifier="timeline{timeline.uid}">
        <f:if condition="{settings.timelineJs.config.height}">$('#timeline-{timeline.uid}').css('height', '{settings.timelineJs.config.height}px');</f:if>
        <f:if condition="{settings.timelineJs.config.width}">$('#timeline-{timeline.uid}').css('width', '{settings.timelineJs.config.width}px');</f:if>
        var timeline = new TL.Timeline('timeline-{timeline.uid}', <f:format.htmlentitiesDecode>{timelineJson}</f:format.htmlentitiesDecode>, {
            <f:if condition="{settings.timelineJs.config.ga_property_id}">ga_property_id: '{settings.timelineJs.config.ga_property_id}',</f:if>
            <f:if condition="{settings.timelineJs.config.height}">height: parseInt('{settings.timelineJs.config.height}'),</f:if>
            <f:if condition="{settings.timelineJs.config.width}">width: parseInt('{settings.timelineJs.config.width}'),</f:if>
            <f:if condition="{settings.timelineJs.config.timenav_position}">timenav_position: '{settings.timelineJs.config.timenav_position}',</f:if>
            <f:if condition="{settings.timelineJs.config.hash_bookmark}">hash_bookmark: {settings.timelineJs.config.hash_bookmark},</f:if>
            <f:if condition="{settings.timelineJs.config.slide_padding_lr}">slide_padding_lr: {settings.timelineJs.config.slide_padding_lr},</f:if>
            language: '{sysLanguage}'
        });
        window.onresize = function(event) {
            timeline.updateDisplay();
        }
    </f:asset.script>
</f:section>

</html>
