<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{settings.timelineJs.jsFile._typoScriptNodeValue || settings.timelineJs.jsFile}">
    <f:asset.script identifier="timelineJs"
        src="{f:if(condition: settings.timelineJs.jsFile._typoScriptNodeValue, then: settings.timelineJs.jsFile._typoScriptNodeValue, else: settings.timelineJs.jsFile)}"
        type="{f:if(condition: settings.timelineJs.jsFile.type, then: settings.timelineJs.jsFile.type, else: 'text/javascript')}"
        async="{settings.timelineJs.jsFile.async}"
        integrity="{settings.timelineJs.jsFile.integrity}"
        crossorigin="{settings.timelineJs.jsFile.crossorigin}"
        defer="{settings.timelineJs.jsFile.defer}"
        nomodule="{settings.timelineJs.jsFile.nomodule}"
        priority="{f:if(condition: '{settings.timelineJs.jsFile.forceOnTop} && !{settings.timelineJs.includeJSToFooter}', then: 1)}" />
</f:if>
<f:if condition="{settings.timelineJs.cssFile._typoScriptNodeValue || settings.timelineJs.cssFile}">
    <f:asset.css identifier="timelineJs"
        href="{f:if(condition: settings.timelineJs.cssFile._typoScriptNodeValue, then: settings.timelineJs.cssFile._typoScriptNodeValue, else: settings.timelineJs.cssFile)}"
        rel="{f:if(condition: settings.timelineJs.cssFile.alternate, then: 'alternate stylesheet')}"
        media="{f:if(condition: settings.timelineJs.cssFile.media, then: settings.timelineJs.cssFile.media, else: 'all')}"
        title="{settings.timelineJs.cssFile.title}"
        priority="{settings.timelineJs.cssFile.forceOnTop}" />
</f:if>
<f:if condition="{settings.cssFile._typoScriptNodeValue || settings.cssFile}">
    <f:asset.css identifier="ext-km-timeline"
        href="{f:if(condition: settings.cssFile._typoScriptNodeValue, then: settings.cssFile._typoScriptNodeValue, else: settings.cssFile)}"
        rel="{f:if(condition: settings.cssFile.alternate, then: 'alternate stylesheet')}"
        media="{f:if(condition: settings.cssFile.media, then: settings.cssFile.media, else: 'all')}"
        title="{settings.cssFile.title}"
        priority="{settings.cssFile.forceOnTop}" />
</f:if>

<div class="tx-km-timeline">
    <f:render section="main" />
</div>

</html>
