/*** Backend ***/
table.tx_kmtimeline tfoot td { border-top: 1px solid #d7d7d7; }
/* Pagination */
table.tx_kmtimeline tbody td ul.tx-kmtimeline-be-paginator {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-align: center;
}
table.tx_kmtimeline tbody td ul.tx-kmtimeline-be-paginator li { display: inline; }
/* Forms */
.tx-kmtimeline-be-form-formelement { padding: 0 0 10px; }
.tx-kmtimeline-be-form-formelement-text label,
.tx-kmtimeline-be-form-formelement-textarea label {
	display: block;
	font-weight: bold;
}
.tx-kmtimeline-be-form-formelement-submit { clear: both; }
/*** Misc ***/
.tx-kmtimeline-clearer { clear: both; }
