<f:be.container includeCssFiles="{0: '{f:uri.resource(path:\'Css/default.css\')}'}">
    <div class="module">
        <div class="module-docheader">
            <div class="module-docheader-bar">
                <div class="module-docheader-bar-column-left"></div>
                <div class="module-docheader-bar-column-right">
                    <f:be.pagePath />
                    <f:be.pageInfo />
                </div>
            </div>
            <div class="module-docheader-bar module-docheader-bar-buttons">
                <div class="module-docheader-bar-column-left">
                    <f:comment><f:be.menus.actionMenu>
                        <f:be.menus.actionMenuItem label="Overview" controller="" action="list" />
                        <f:be.menus.actionMenuItem label="Create new Timeline" action="new" controller="Timeline" />
                        <f:if condition="{timeline}">
                            <f:be.menus.actionMenuItem label="Create new Event" action="new" controller="Event" />
                            <f:be.menus.actionMenuItem label="Create new Era" action="new" controller="Era" />
                        </f:if>
                        <f:be.menus.actionMenuItem label="Create new Attribute" action="new" controller="Attribute" />
                    </f:be.menus.actionMenu></f:comment>
                </div>
                <div class="module-docheader-bar-column-right">
                    <div class="btn-toolbar" role="toolbar" aria-label="">
                        <f:be.buttons.shortcut />
                        <f:be.buttons.csh />
                    </div>
                </div>
            </div>

        </div>
        <div class="module-body">
            <f:flashMessages />
            <f:render section="content" />
        </div>
    </div>
</f:be.container>
